@{
    ViewBag.Title = "Home Page";
}

<img src="~/Images/rocket.png" style="float:left" />
<div class="jumbotron">
    <h1>Commander's Warehouse</h1>
    <p class="lead">Your one-stop shop for all of your interstellar travel needs.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Commander's Warehouse offers a wide range of products to fit your lifestyle.
            Choose from a variety of starships, moonbases, jumpsuits, laser beacons,
            and much, much more.
        </p>
        <p><a class="btn btn-default" href="~/Product/">View products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your Orders</h2>
        <p>
            Wondering when your order shipped? Can't remember what you ordered last quarter?
            Don't worry, we have a fully history of everything we've delivered for you.
        </p>
        <p><a class="btn btn-default" href="~/Order/">View orders &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>
            We've been busy making sure we offer the best service and products at a competetive
            price. See what we've been doing to make your experience with us even better.
        </p>
        <p><a class="btn btn-default" href="~/News/">Learn more &raquo;</a></p>
    </div>
</div>