<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OrderTaker.Repository.LinqToSQL.Properties.Settings.OrderTakerConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Development\Pluralsight\07 Defensive Coding\Working Demo\DefensiveCoding\OrderTaker.MVC\App_Data\OrderTaker.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>